img {
    display: block;
    margin: 0 auto;
    animation: fadeIn 2s ease-in;
}

h1 {
    text-align: center;
}
footer {
    text-align: center;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        filter: brightness(0);
    }

    to {
        opacity: 1;
        filter: brightness(1);
    }
}