body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    border: solid black;
    min-height: 80vh;
}

/*Header and navigation bar*/
header {
    grid-column: 1/3;
    background-color: rgb(63, 63, 63);
    color: white;
    font-family: sans-serif;
    width: 100%;
}

header h1 {
    text-align: justify;
}

header a {
    text-decoration: none;
    color: white;

}

.navigationbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: black;
    margin: 0;
    padding: 15px;

}

/*main*/

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1/3;
}
.mcontent {
    grid-column: 1/2;
    background-color: rgb(151, 151, 151);
    text-align: justify;
    width: 100%;
    font-family: sans-serif;
    padding: 15px;
}

.asidecontent {
    grid-column: 2/3;
    text-align: end;
    align-self: stretch;
    background-color: white;
    font-family: sans-serif;
    padding: 15px;
}




/*Footer*/
footer {
    grid-column: 1/3;
    background-color: rgb(63, 63, 63);
    color: white;
    font-family: sans-serif;
    width: 100%;
    text-align: center;

}