* {
    box-sizing: border-box;
}

header {
    background-color: rgb(11, 97, 172);
    color: white;
    text-align: center;
    padding: 1rem;
}

form {
    max-width: 600px;
    margin: auto;
    display: block;
    background-color: rgba(125, 164, 227, 0.625);
    padding: 1rem;
}
label,
input:not([type="radio"]):not([type="checkbox"]),
select,
textarea {
    display: block;
    width: 100%;
}
label {
    margin-bottom: 15px;

}
.radio {
    display: flex;
}
fieldset {
    border: none;
}
.radio label {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.submitButton {
    font-size: x-large;
    padding: 10px;
    background-color: antiquewhite;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-style: italic
}
.submitButton:hover{
    background-color: orange;
}
footer {
    background-color: rgb(11, 97, 172);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: x-large;
}
@media (min-width: 640px) {
    form {
        margin: 2rem auto;
    }
}